.transition-fade {
    transition: 0.4s;
    opacity: 1;
  }
  
  html.is-animating .transition-fade {
    opacity: 0;
  }

.transition-slide {
    transition: 0.4s;
    transform: translateX(0%);
    opacity: 1;
  }
  
  html.is-animating .transition-slide {
    transform:translateX(100%) ;
    opacity: 0;
  }


  .transition-slide1 {
    transition: 0.4s;
    transform: translateY(0%);
    opacity: 1;
  }
  
  html.is-animating .transition-slide1 {
    transform:translateY(100%) ;
    opacity: 0;
  }



  .slide-in-left {
    -webkit-animation: slide-in-left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.3s both;
            animation: slide-in-left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.3s both;
  }

  .slide-in-top {
    -webkit-animation: slide-in-left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.3s both;
            animation: slide-in-left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.3s both;
  }

  .slide-in-right {
    -webkit-animation: slide-in-left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.3s both;
            animation: slide-in-left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.3s both;
  }

  .slide-in-bottom {
    -webkit-animation: slide-in-left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.3s both;
            animation: slide-in-left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.3s both;
  }




  

  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }


  @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  

  @-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }